@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 1;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
header .logo {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}
header nav #menu-btn:checked ~ .menu-list-body {
  max-height: 100%;
}
header nav .menu-btn {
  display: none;
  opacity: 0;
  visibility: hidden;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
header nav ul li {
  padding: 10px 15px;
  margin: 0 10px;
  position: relative;
}
header nav ul li::before, header nav ul li::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}
header nav ul li::before {
  top: 0;
  left: 0;
}
header nav ul li:hover::before {
  right: 0;
  left: auto;
  width: 100%;
  background-color: #000;
}
header nav ul li::after {
  bottom: 0;
  right: 0;
}
header nav ul li:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  background-color: #000;
}
header nav ul li .menu-list-link {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  transition: color 0.4s;
}
header nav ul li .menu-list-link:hover {
  color: #413e3e;
}
header .menu-btn-label {
  display: none;
  opacity: 0;
  visibility: hidden;
}
header .menu-btn-label .fa-bars {
  display: block;
  width: 100%;
  font-size: xx-large;
}

@media (max-width: 1250px) {
  header {
    height: 9%;
    display: inline-block;
    padding: 0;
  }
  header .logo {
    padding-top: 1.8%;
    text-align: center;
  }
  header .menu-btn-label {
    position: absolute;
    padding: 1.8%;
    top: 0;
    left: 0;
    display: flex;
    visibility: visible;
    opacity: 1;
    align-items: center;
    cursor: pointer;
  }
  header .menu-list-body {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  header .menu-list-body ul {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0;
  }
}
@media (max-width: 600px) {
  header {
    height: 9%;
    display: inline-block;
    padding: 0;
  }
  header .logo {
    padding-top: 3.5%;
    text-align: center;
  }
  header .menu-btn-label {
    position: absolute;
    padding: 3.8%;
    top: 0;
    left: 0;
    display: flex;
    visibility: visible;
    opacity: 1;
    align-items: center;
    cursor: pointer;
  }
  header .menu-list-body {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  header .menu-list-body ul {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0;
  }
}
.textArea {
  height: 100dvh;
  width: 100%;
  background-image: url("圖片/圖片1.jpg");
  background-position: 50% 30%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textArea h1 {
  font-size: 3rem;
}
.textArea .text2 {
  font-size: 1.5rem;
  margin: 3% 0;
}

.btn {
  background: #413e3e;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 1rem;
  text-decoration: none;
  border: 2.3px solid #413e3e;
  padding: 0.5% 1%;
  border-radius: 5px;
}
.btn:hover {
  background: rgb(0, 0, 0);
  color: #fff;
  border: 2.3px solid rgb(0, 0, 0);
}

@media (max-width: 1250px) {
  .section .textArea {
    text-align: center;
    padding: 0 5%;
  }
  .section .textArea h1 {
    font-size: 2.3rem;
  }
  .section .textArea .text2 {
    font-size: 1.3rem;
    margin: 10% 0;
  }
  .btn {
    padding: 2%;
  }
}
@media (max-width: 600px) {
  .section .textArea {
    text-align: center;
    padding: 0 5%;
  }
  .section .textArea h1 {
    font-size: 2rem;
  }
  .section .textArea .text2 {
    font-size: 1rem;
    margin: 10% 0;
  }
  .btn {
    padding: 3%;
  }
}
.section2 {
  display: grid;
  grid-template-areas: "block2 block2 block2";
  margin: 10% 15%;
}
.section2 .block2 {
  text-align: center;
}
.section2 .block2 .icon {
  text-align: center;
}
.section2 .block2 i {
  font-size: 3rem;
}
.section2 .block2 h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: 6% 0;
}
.section2 .block2 .icon-text {
  width: 90%;
  margin: 0 2%;
}

@media (max-width: 1250px) {
  .section2 {
    display: grid;
    grid-template-areas: "block2 block2 block2";
    grid-column-gap: 8%;
  }
}
@media (max-width: 600px) {
  .section2 {
    display: grid;
    grid-template-areas: "block2" "block2" "block2";
    grid-row-gap: 15%;
    margin-bottom: 55%;
  }
}
.section3 {
  background-color: rgb(249, 251, 250);
}
.section3 .textArea2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}
.section3 .textArea2 .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .textArea2 .title h2 {
  font-size: 2rem;
}
.section3 .textArea2 .title hr {
  border: 1px solid rgb(63, 199, 228);
  width: 80%;
  margin: 8% 0;
}
.section3 .textArea2 .content {
  width: 70%;
  text-align: center;
  margin-bottom: 3%;
}
.section3 .image {
  width: 60%;
  background-position: 80% 60%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .section3 .textArea2 .content {
    margin: 3% 0;
  }
  .section3 .textArea2 .image {
    width: 70%;
    margin: 3% 0;
  }
}
@media (max-width: 600px) {
  .section3 .textArea2 .title h2 {
    font-size: 1.5rem;
  }
  .section3 .textArea2 .title hr {
    border: 1px solid rgb(63, 199, 228);
    width: 80%;
  }
  .section3 .textArea2 .content {
    margin: 5% 0;
  }
  .section3 .textArea2 .image {
    width: 80%;
    margin: 5% 0;
  }
}
.section4 {
  display: grid;
  grid-template-areas: "block3 block5 block6";
  margin-top: 10%;
  margin-bottom: 5%;
}
.section4 .block3 {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background: url("圖片/健康管理與護理.jfif");
  background-position: 50% 30%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.section4 .block3 .textArea4 {
  text-align: center;
  position: relative;
  padding: 20px;
  background-color: rgb(249, 251, 250);
  color: #000000;
  transform: translateY(53%);
  transition: transform 0.3s;
}
.section4 .block3 .textArea4::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 300px;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  box-shadow: inset -48px -48px rgb(249, 251, 250);
}
.section4 .block3 .textArea4:hover {
  transform: translateY(0);
}
.section4 .block3 .card-title {
  font-weight: normal;
  padding-bottom: 5%;
  font-size: 1.5rem;
  margin: 3.5% 0;
}
.section4 .block3 .card-description {
  color: #625d61;
  margin-bottom: 5%;
}
.section4 .block3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #625d61;
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #625d61;
  margin-top: 3%;
}
.section4 .block3 a:hover {
  background-color: #625d61;
  color: rgb(255, 255, 255);
}
.section4 .block5 {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background: url("圖片/專屬活動與互動.jpg");
  background-size: 500px;
  background-position: 70% 38%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.section4 .block5 .textArea4 {
  text-align: center;
  position: relative;
  padding: 20px;
  background-color: rgb(249, 251, 250);
  color: #000000;
  transform: translateY(53%);
  transition: transform 0.3s;
}
.section4 .block5 .textArea4::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 300px;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  box-shadow: inset -48px -48px rgb(249, 251, 250);
}
.section4 .block5 .textArea4:hover {
  transform: translateY(0);
}
.section4 .block5 .card-title {
  font-weight: normal;
  padding-bottom: 5%;
  font-size: 1.5rem;
  margin: 3.5% 0;
}
.section4 .block5 .card-description {
  color: #625d61;
  margin-bottom: 5%;
}
.section4 .block5 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #625d61;
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #625d61;
  margin-top: 3%;
}
.section4 .block5 a:hover {
  background-color: #625d61;
  color: rgb(255, 255, 255);
}
.section4 .block6 {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background: url("圖片/個性化膳食服務.avif");
  background-size: 500px;
  background-position: 50% 0%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.section4 .block6 .textArea4 {
  text-align: center;
  position: relative;
  padding: 20px;
  background-color: rgb(249, 251, 250);
  color: #000000;
  transform: translateY(53%);
  transition: transform 0.3s;
}
.section4 .block6 .textArea4::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 300px;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  box-shadow: inset -48px -48px rgb(249, 251, 250);
}
.section4 .block6 .textArea4:hover {
  transform: translateY(0);
}
.section4 .block6 .card-title {
  font-weight: normal;
  padding-bottom: 5%;
  font-size: 1.5rem;
  margin: 3.5% 0;
}
.section4 .block6 .card-description {
  color: #625d61;
  margin-bottom: 5%;
}
.section4 .block6 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #625d61;
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #625d61;
  margin-top: 3%;
}
.section4 .block6 a:hover {
  background-color: #625d61;
  color: rgb(255, 255, 255);
}

@media (max-width: 1250px) {
  .section4 {
    display: grid;
    grid-template-areas: "block3" "block5" "block6";
    grid-row-gap: 5%;
    margin-top: 13%;
    margin-bottom: 30%;
  }
  .section4 .block3 {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section4 .block3 .textArea4 {
    width: 500px;
  }
  .section4 .block3 .textArea4::before {
    top: -52px;
    left: 447.5px;
  }
  .section4 .block3 .textArea4 .card-title {
    margin: 4% 0;
  }
  .section4 .block3 .textArea4 a {
    padding: 1.5%;
  }
  .section4 .block5 {
    width: 500px;
    height: 500px;
  }
  .section4 .block5 .textArea4::before {
    top: -52px;
    left: 447.5px;
  }
  .section4 .block5 .textArea4 .card-title {
    margin: 4% 0;
  }
  .section4 .block5 .textArea4 a {
    padding: 1.5%;
  }
  .section4 .block6 {
    width: 500px;
    height: 500px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section4 .block6 .textArea4 {
    width: 500px;
  }
  .section4 .block6 .textArea4::before {
    top: -52px;
    left: 447.5px;
  }
  .section4 .block6 .textArea4 .card-title {
    margin: 4% 0;
  }
  .section4 .block6 .textArea4 a {
    padding: 1.5%;
  }
}
@media (max-width: 600px) {
  .section4 {
    display: grid;
    grid-template-areas: "block3" "block5" "block6";
    grid-row-gap: 5%;
    margin-top: 13%;
    margin-bottom: 30%;
  }
  .section4 .block3 {
    width: 320px;
    height: 320px;
  }
  .section4 .block3 .textArea4::before {
    top: -52px;
    left: 268px;
  }
  .section4 .block3 .textArea4 .card-description {
    margin-bottom: 3%;
  }
  .section4 .block5 {
    width: 320px;
    height: 320px;
  }
  .section4 .block5 .textArea4::before {
    top: -52px;
    left: 268px;
  }
  .section4 .block5 .textArea4 .card-description {
    margin-bottom: 3%;
  }
  .section4 .block6 {
    width: 320px;
    height: 320px;
    background-position: 50% 100%;
  }
  .section4 .block6 .textArea4::before {
    top: -52px;
    left: 268px;
  }
  .section4 .block6 .textArea4 .card-description {
    margin-bottom: 3%;
  }
}
.textArea5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.textArea5 .title2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textArea5 .title2 h2 {
  font-size: 2rem;
}
.textArea5 .title2 hr {
  border: 1px solid rgb(63, 199, 228);
  width: 80%;
  margin: 8.5% 0;
}
.textArea5 .content3 {
  width: 70%;
  text-align: center;
  margin-bottom: 3%;
}
.textArea5 .btn3 {
  font-weight: bolder;
  color: rgb(63, 199, 228);
  font-size: 1rem;
  text-decoration: none;
  border: 2.3px solid rgb(63, 199, 228);
  padding: 0.5% 1%;
  border-radius: 5px;
}
.textArea5 .btn3:hover {
  background-color: rgb(63, 199, 228);
  color: white;
}

@media (max-width: 1250px) {
  .textArea5 {
    margin-bottom: 10%;
  }
  .textArea5 .title2 h2 {
    font-size: 1.8rem;
  }
  .textArea5 .title2 hr {
    border: 1px solid rgb(63, 199, 228);
    width: 80%;
    margin: 5% 0;
  }
  .textArea5 .content3 {
    margin: 3% 0;
  }
  .textArea5 .btn3 {
    margin-top: 2%;
    padding: 1.7%;
  }
}
@media (max-width: 600px) {
  .textArea5 {
    margin-bottom: 10%;
  }
  .textArea5 .title2 h2 {
    font-size: 1.5rem;
  }
  .textArea5 .title2 hr {
    border: 1px solid rgb(63, 199, 228);
    width: 80%;
    margin: 5% 0;
  }
  .textArea5 .content3 {
    margin: 5% 0;
  }
  .textArea5 .btn3 {
    padding: 3%;
  }
}
footer {
  background-color: #f8fbf9;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
footer .leftArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 5% 0;
}
footer .leftArea p {
  text-align: center;
  font-size: 1.1rem;
  margin: 1% 0;
}
footer .leftArea .block4 {
  display: flex;
  justify-content: center;
}
footer .leftArea .block4 a {
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 2%;
}
footer .leftArea .block4 hr {
  margin-top: 0.5%;
  height: 2dvh;
  width: 1px;
  color: #000000;
  background-color: #000000;
}
footer .rightArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  margin: 5% 0;
}
footer .rightArea .contact-block {
  display: flex;
  flex-direction: column;
}
footer .rightArea .contact-block h4 {
  margin: 0 2%;
}
footer .rightArea .contact-block a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 2%;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .leftArea {
    font-size: 0.8rem;
  }
  .rightArea .contact-block h4 {
    text-align: center;
    font-size: 0.8rem;
  }
  .rightArea .contact-block a {
    text-align: center;
    font-size: 0.8rem;
  }
}
.fade-in {
  position: relative;
  opacity: 0;
  transform: translateY(150px);
  transition: 1s all ease;
}

.fade-in.visible {
  transform: translateY(0);
  opacity: 1;
}

.fade-in-left {
  position: relative;
  opacity: 0;
  transform: translateX(-100px);
  transition: 1.5s all ease;
}

.fade-in-left.visible-left {
  transform: translateX(0);
  opacity: 1;
}/*# sourceMappingURL=index.css.map */